<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
       <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="/css/w3.css">
  <link rel="stylesheet" href="/css/w3-theme-blue-grey.css">
  <link rel="stylesheet" href="/css/css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
	
  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131195838-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-131195838-1');
	</script>

  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<!--<li><a href="/cv">CV</a></li>-->
<li><a href="/blog">Blog</a></li>
<li><a href="/games">Games</a></li>
<li><a href="/blender">Blender</a></li>
<li><a href="/translations">Translations</a></li>
<li><a href="/mus">/Mus/</a></li>
<!--<li><a href="/vk">VK</a></li>-->



	
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:dimonasdf@gmail.com">email</a></li>
   <li><a href="https://github.com/dimonasdf">github.com/dimonasdf</a></li>
   </ul>
  </footer>
  </body>

</html>
